
bin/Debug/net6.0/FNA.dll
bin/Debug/net6.0/FNA.pdb
bin/Debug/net6.0/KirboMod.dll
bin/Debug/net6.0/KirboMod.pdb
bin/Debug/net6.0/ref/KirboMod.dll
bin/Debug/net6.0/ReLogic.dll
bin/Debug/net6.0/ReLogic.pdb
bin/Debug/net6.0/tModLoader.dll
bin/Debug/net6.0/tModLoader.pdb
bin/Debug/net6.0/tModLoader.xml
bin/Debug/net6.0/tModPorter.dll
bin/Debug/net6.0/tModPorter.pdb
obj/Debug/net6.0/KirboMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/KirboMod.dll
obj/Debug/net6.0/KirboMod.csproj.FileListAbsolute.txt
obj/Debug/net6.0/KirboMod.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/KirboMod.csproj.AssemblyReference.cache
obj/Debug/net6.0/KirboMod.assets.cache
obj/Debug/net6.0/ref/KirboMod.dll
obj/KirboMod.csproj.nuget.dgspec.json
obj/KirboMod.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vs/KirboMod/v17/fileList.bin
.vs/KirboMod/v17/.suo
.vs/KirboMod/v17/.futdcache.v1
.vs/KirboMod/DesignTimeBuild/.dtbcache.v2
obj/Debug/net6.0/KirboMod.assets.cache
obj/Debug/net6.0/KirboMod.csproj.AssemblyReference.cache
obj/Debug/net6.0/KirboMod.GeneratedMSBuildEditorConfig.editorconfig
obj/KirboMod.csproj.nuget.dgspec.json
obj/KirboMod.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
