
bin/Debug/net6.0/FNA.dll
bin/Debug/net6.0/FNA.pdb
bin/Debug/net6.0/KirboMod.dll
bin/Debug/net6.0/KirboMod.pdb
bin/Debug/net6.0/ref/KirboMod.dll
bin/Debug/net6.0/ReLogic.dll
bin/Debug/net6.0/ReLogic.pdb
bin/Debug/net6.0/tModLoader.dll
bin/Debug/net6.0/tModLoader.pdb
bin/Debug/net6.0/tModLoader.xml
bin/Debug/net6.0/tModPorter.dll
bin/Debug/net6.0/tModPorter.pdb
obj/Debug/net6.0/KirboMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/KirboMod.dll
obj/Debug/net6.0/KirboMod.csproj.FileListAbsolute.txt
obj/Debug/net6.0/KirboMod.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/KirboMod.csproj.AssemblyReference.cache
obj/Debug/net6.0/KirboMod.assets.cache
obj/Debug/net6.0/ref/KirboMod.dll
obj/KirboMod.csproj.nuget.dgspec.json
obj/KirboMod.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vs/KirboMod/v17/fileList.bin
.vs/KirboMod/v17/.suo
.vs/KirboMod/v17/.futdcache.v1
.vs/KirboMod/DesignTimeBuild/.dtbcache.v2
obj/Debug/net6.0/KirboMod.assets.cache
obj/Debug/net6.0/KirboMod.csproj.AssemblyReference.cache
obj/Debug/net6.0/KirboMod.GeneratedMSBuildEditorConfig.editorconfig
obj/KirboMod.csproj.nuget.dgspec.json
obj/KirboMod.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
.vs/slnx.sqlite
.vs/KirboMod/v17/.wsuo
.vs/KirboMod/v17/.suo
.vs/KirboMod/FileContentIndex/822c4e7a-843d-4686-9b6b-7977efd586cf.vsidx
.vs/KirboMod/FileContentIndex/584bbfee-627b-47c0-a85d-2f2952253ad5.vsidx
.vs/KirboMod/FileContentIndex/2b12822b-a061-441d-abe5-f5c855041775.vsidx
.vs/slnx.sqlite
.vs/KirboMod/v17/.suo
.vs/KirboMod/FileContentIndex/7e1b6246-9266-46ec-a492-c48bce9d9995.vsidx
.vs/KirboMod/v17/.suo
.vs/slnx.sqlite
obj/Debug/net6.0/KirboMod.AssemblyInfo.cs
obj/Debug/net6.0/KirboMod.AssemblyInfoInputs.cache
obj/Debug/net6.0/KirboMod.assets.cache
obj/Debug/net6.0/KirboMod.csproj.AssemblyReference.cache
obj/Debug/net6.0/KirboMod.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0/KirboMod.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/KirboMod.csproj.FileListAbsolute.txt
obj/Debug/net6.0/KirboMod.dll
obj/Debug/net6.0/KirboMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/KirboMod.pdb
obj/Debug/net6.0/KirboMod.sourcelink.json
obj/Debug/net6.0/ref/KirboMod.dll
obj/Debug/net6.0/refint/KirboMod.dll
obj/KirboMod.csproj.nuget.dgspec.json
obj/KirboMod.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Release/net6.0/KirboMod.AssemblyInfo.cs
obj/Release/net6.0/KirboMod.AssemblyInfoInputs.cache
obj/Release/net6.0/KirboMod.assets.cache
obj/Release/net6.0/KirboMod.csproj.AssemblyReference.cache
obj/Release/net6.0/KirboMod.GeneratedMSBuildEditorConfig.editorconfig
.vs/KirboMod/DesignTimeBuild/.dtbcache.v2
.vs/KirboMod/FileContentIndex/1735d0c0-0a66-4059-abf1-2b6980d5aecb.vsidx
.vs/KirboMod/FileContentIndex/3d2019bf-a3fe-4b5a-9f04-32d27ad97cbc.vsidx
.vs/KirboMod/FileContentIndex/47633703-2e39-4e0d-bc38-0bb39d607600.vsidx
.vs/KirboMod/FileContentIndex/56529c44-048c-4fa5-9f5e-b5aba76624f4.vsidx
.vs/KirboMod/FileContentIndex/cbefe3a4-12d5-47b8-9f1e-f7dbb8691985.vsidx
.vs/KirboMod/FileContentIndex/read.lock
.vs/KirboMod/v17/.suo
.vs/ProjectEvaluation/kirbomod.metadata.v5.2
.vs/ProjectEvaluation/kirbomod.projects.v5.2
bin/Debug/net6.0/FNA.dll
bin/Debug/net6.0/FNA.pdb
bin/Debug/net6.0/KirboMod.deps.json
bin/Debug/net6.0/KirboMod.dll
bin/Debug/net6.0/KirboMod.pdb
bin/Debug/net6.0/Microsoft.Build.Locator.dll
bin/Debug/net6.0/ReLogic.dll
bin/Debug/net6.0/ReLogic.pdb
bin/Debug/net6.0/tModLoader.dll
bin/Debug/net6.0/tModLoader.pdb
bin/Debug/net6.0/tModLoader.xml
bin/Debug/net6.0/tModPorter.dll
bin/Debug/net6.0/tModPorter.pdb
obj/Debug/net6.0/KirboMod.AssemblyInfo.cs
obj/Debug/net6.0/KirboMod.AssemblyInfoInputs.cache
obj/Debug/net6.0/KirboMod.assets.cache
obj/Debug/net6.0/KirboMod.csproj.AssemblyReference.cache
obj/Debug/net6.0/KirboMod.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/KirboMod.csproj.FileListAbsolute.txt
obj/Debug/net6.0/KirboMod.dll
obj/Debug/net6.0/KirboMod.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/KirboMod.pdb
obj/Debug/net6.0/ref/KirboMod.dll
obj/Debug/net6.0/refint/KirboMod.dll
obj/KirboMod.csproj.nuget.dgspec.json
obj/KirboMod.csproj.nuget.g.props
obj/project.assets.json
obj/project.nuget.cache
*.vsidx
*.cache
*.bin
*.dll
*.v2
*.v2
*.vsidx
*.lock
*.json
*.bin
*.2
/.vs/KirboMod/v17
